<!DOCTYPE html>

<html>

  {% include head.html %}

  {% include header.html %}

  {% include nav.html %}

  <body id="about" data-options="2">
    <!-- <div class="fader"></div> -->
    <div class="jumbotron">
      <h1>ORILLIA'S PREMIER WINDOW COVERING RETAILER</h3>
      <!-- <button class="learn-more">
        Learn More
      </button> -->
    </div>

    <div class="main">

      <h1>About Ayerst Blinds &amp; Shutters...</h1>
      <p>We are an Orillia based company owned and operated by brother and sister team, John and Janet Ayerst. Ayerst Blinds &amp; Shutters has been serving the Orillia area for over 10 years. Ayerst offers a mobile, shop at home service. We will take the hassle out of selecting and purchasing window coverings by bringing our showroom to your home, office or cottage in the Orillia area at your convenience.</p>
    </div>

    <div class="about-home-office">
      <div class="about-home">
        <h1>HOME</h1>
      </div>
      <div class="or-circle">
        <h2>OR</h2>
      </div>
      <div class="about-office">
        <h1>OFFICE</h1>
      </div>
    </div>

    <div class="main grey">
      <h1>Our Showroom, in Your Home or Business</h1>
      <p>Our mobile service eliminates the need to drive to various stores to shop for window coverings. Mobile service allows our clients to see how the style and colour of their new shades will work in their home or business. Our mobile service is available 24/7 and serves the Orillia area including Barrie, Muskoka and Midland.</p>
    </div>

    <div class="mobile-service"></div>

    <div class="main">
      <h1>Find the perfect covering for any window</h1>
      <p>We are trained window covering specialists dedicated to servicing our customers in the comfort of their own space. See the colours and styles that you select in the rooms where they will be installed, under your lighting, at a time that is convenient for you. We carry and provide professional installation of all custom window coverings including shutters. We sell a full selection of window coverings by Maxxmar, Hunter Douglas, Elite Window Fashions and Shade-O-Matic.</p>
    </div>

    <div class="brand-demos">
      <div class="brand-container">
        <div class="brand maxxmar"></div>
      </div>
      <div class="brand-container">
        <div class="brand hunter"></div>
      </div>
      <div class="brand-container">
        <div class="brand elite"></div>
      </div>
      <div class="brand-container">
        <div class="brand shade"></div>
      </div>
      <div class="brand-demo-logos">
        <img class="logo maxxmar-logo" src="/images/demo-maxxmar-logo.jpg">
        <img class="logo hunter-logo" src="/images/demo-hunter-logo.jpg">
        <img class="logo elite-logo" src="/images/demo-elite-logo.jpg">
        <img class="logo shade-logo" src="/images/demo-shade-logo.jpg">
      </div>
    </div>

    <div class="main grey">

      <h1>We are committed to offering our customers the best overall value as well as the most convenient shopping experience.</h1>

      <p>We look forward to working one on one with you to create the perfect look for your home, cottage or office. Feel free to contact us for more information about our products, mobile service or any other questions you may have.</p>

      <h3>Call Today: 705-325-8767</h3>

    </div>

  </body>

  {% include footer.html %}

</html>

{% include javascript.html %}
