<!DOCTYPE html>

<html>

  {% include head.html %}

  {% include header.html %}

  {% include nav.html %}

  <body id="home" data-options="1">
    <div class="fader"></div>
    <div class="jumbotron">
      <h1>CONTROL YOUR LIGHTING.</h3>
      <button class="learn-more">
        Learn More
      </button>
    </div>

    <div class="main">

      <h1 class="animation-element expand">The #1 Source for Window Coverings in Orillia</h1>
      <p class="animation-element slide-up">Ayerst Blinds, Shades &amp; Shutters is the #1 source for all window covering needs in the Orillia area. We carry a wide variety of window covering options from many of Canada's top manufacturers. With over 10 years of experience, our trained professionals will help choose the best window covering solutions for your windows. Feel free to explore our website to gain inspiration for your next project! </p>

    </div>

    <div class="showcase">
      <!-- <h1>Explore all your options</h1> -->
      <div class="home-images">
        <a href="{{ site.baseurl }}/blinds/">
          <img src="images/home-blinds-square.jpg">
          <div class="rollover">
            <h4>BLINDS</h4>
            <svg fill="#dddddd" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                <path d="M0-.75h24v24H0z" fill="none"/>
            </svg>
          </div>
        </a>
        <a href="{{ site.baseurl }}/shades/">
          <img src="images/home-shades-square.jpg">
          <div class="rollover">
            <h4>SHADES</h4>
            <svg fill="#dddddd" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                <path d="M0-.75h24v24H0z" fill="none"/>
            </svg>
          </div>
        </a>
        <a href="{{ site.baseurl }}/shutters/">
          <img src="images/home-shutters-square.jpg">
          <div class="rollover">
            <h4>SHUTTERS</h4>
            <svg fill="#dddddd" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                <path d="M0-.75h24v24H0z" fill="none"/>
            </svg>
          </div>
        </a>
      </div>
    </div>

    <div class="contact">
      <h1 class="animation-element expand">Contact us and learn how we bring our mobile showroom to you!</h1>
      <p class="animation-element slide-up">At Ayerst Blinds, Shades &amp; Shutters, we take the hassle out of selecting and purchasing window coverings by bringing our showroom to you! Gain the advantage of previewing products at your home or business before you buy. Our mobile service will bring our showroom to your residential or commercial location, allowing for an easy selection process.</p>
    </div>

    <div class="van">
    </div>

    <div class="brands">
      <h1 class="animation-element expand">Select products from the best window covering manufacturers in Canada.</h1>
      <div class="brand-list animation-element expand">
        <a href="http://www.maxxmar.com/" target="_blank">
          <img src="images/logo-maxxmar-grey.png">
        </a>
        <a href="https://www.hunterdouglas.com/" target="_blank">
          <img src="images/logo-hunter-grey.png">
        </a>
        <a href="http://www.elitewf.com/" target="_blank">
          <img src="images/logo-elite-grey.png">
        </a>
        <a href="http://shade-o-matic.com/" target="_blank">
          <img src="images/logo-shade-grey.png">
        </a>
      </div>
    </div>

  </body>

  {% include footer.html %}

</html>

{% include javascript.html %}
