<!DOCTYPE html>

<html>

  {% include head.html %}

  {% include header.html %}

  {% include nav.html %}

  <body id="shutters" data-options="5">
    <!-- <div class="fader"></div> -->
    <div class="jumbotron">
      <h1>ORILLIA'S MOBILE SHUTTERS RETAILER</h3>
      <!-- <button class="learn-more">
        Learn More
      </button> -->
    </div>

    <div class="main">

      <h1>Find the perfect blinds for any window</h1>
      <p>At Orillia's Ayerst Blinds &amp; Shutters, we offer many styles of shutters. We sell shutters from Elite, Shade-O-Matic and Hunter Douglas. A vast selection of frame choices, specialty shapes, configuration options and louver sizes are available. For more information, contact our professionals and feel free to gain more inspiration below.</p>

    </div>

    <div class="showcase-area">
      <div class="view-selector">
        <div class="grid-view active">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
            <path id="Selection #2"
                  fill="none" stroke="#0074d9" stroke-width="16"
                  d="M 409.00,126.00
                     C 409.00,126.00 409.00,355.00 409.00,355.00
                       409.00,355.00 126.00,355.00 126.00,355.00
                       126.00,355.00 126.00,126.00 126.00,126.00
                       126.00,126.00 409.00,126.00 409.00,126.00 Z
                     M 874.00,126.00
                     C 874.00,126.00 874.00,378.00 874.00,378.00
                       874.00,378.00 874.00,504.00 874.00,504.00
                       874.00,504.00 873.00,519.00 873.00,519.00
                       873.00,519.00 873.00,570.00 873.00,570.00
                       873.00,570.00 482.00,570.00 482.00,570.00
                       482.00,570.00 482.00,518.00 482.00,518.00
                       482.00,518.00 481.00,501.00 481.00,501.00
                       481.00,501.00 481.00,126.00 481.00,126.00
                       481.00,126.00 874.00,126.00 874.00,126.00 Z
                     M 409.00,427.00
                     C 409.00,427.00 409.00,874.00 409.00,874.00
                       409.00,874.00 126.00,874.00 126.00,874.00
                       126.00,874.00 126.00,427.00 126.00,427.00
                       126.00,427.00 409.00,427.00 409.00,427.00 Z
                     M 872.00,644.00
                     C 872.00,644.00 872.00,872.00 872.00,872.00
                       872.00,872.00 483.00,872.00 483.00,872.00
                       483.00,872.00 483.00,644.00 483.00,644.00
                       483.00,644.00 872.00,644.00 872.00,644.00 Z" />
          </svg>
        </div>
        <div class="slide-view">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
            <path id="Selection #5"
                  fill="none" stroke="#0074d9" stroke-width="20"
                  d="M 750.00,320.00
                     C 750.00,320.00 750.00,680.00 750.00,680.00
                       750.00,680.00 250.00,680.00 250.00,680.00
                       250.00,680.00 250.00,320.00 250.00,320.00
                       250.00,320.00 750.00,320.00 750.00,320.00 Z
                     M 219.00,431.00
                     C 219.00,431.00 219.00,569.00 219.00,569.00
                       219.00,569.00 26.00,569.00 26.00,569.00
                       26.00,569.00 26.00,431.00 26.00,431.00
                       26.00,431.00 219.00,431.00 219.00,431.00 Z
                     M 974.00,431.00
                     C 974.00,431.00 974.00,569.00 974.00,569.00
                       974.00,569.00 782.00,569.00 782.00,569.00
                       782.00,569.00 782.00,431.00 782.00,431.00
                       782.00,431.00 974.00,431.00 974.00,431.00 Z" />
          </svg>
        </div>
      </div>
      <div class="blind-showcase">
        <div class="grid">
          <div class="close-ups">
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
          </div>
          <div class="room-pics">
            <div class="image large-room"></div>
            <div class="row-2">
              <div class="image"></div>
              <div class="image"></div>
            </div>
            <div class="row-3">
              <div class="image"></div>
              <div class="image"></div>
            </div>
          </div>
        </div>
        <div class="slides">

          <div class="left-scroll">
            <svg fill="rgba(255,255,255,0.6)" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                <path d="M0-.75h24v24H0z" fill="none"/>
            </svg>
          </div>

          <div class="small-slide off-left">
            <img src="images/show-shutters-8.jpg">
          </div>

          <div class="small-slide small-left">
            <img src="images/show-shutters-9.jpg">
          </div>

          <div class="main-slide">
            <img src="images/show-shutters-1.jpg">
          </div>

          <div class="small-slide small-right">
            <img src="images/show-shutters-2.jpg">
          </div>

          <div class="small-slide off-right">
            <img src="images/show-shutters-3.jpg">
          </div>

          <div class="right-scroll">
            <svg fill="rgba(255,255,255,0.6)" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                <path d="M0-.75h24v24H0z" fill="none"/>
            </svg>
          </div>

        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>

{% include javascript.html %}
